<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="MyApp" packages="com.standout">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
    <Properties>
        <Property name="log4j2.Console.Encoding">UTF-8</Property>
    </Properties>

    <Loggers>
        <!-- Application Logger -->
        <Logger name="com.standout.sopang" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- 3rdparty Loggers -->
        <Logger name="org.springframework.core" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.springframework.beans" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.springframework.context" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.springframework.web" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>